@import url("http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css");

body {
  background-color: #F8F8F8;
  margin: 15px;
}

.box-container {
  width: 215px;
  height: 300px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  -webkit-user-select: none;
  user-select: none;
}

.btn {
  cursor: default;
}

p {
  cursor: default;
}