<link rel="import" href="../cell_view/cell_view.html">

<polymer-element name="main-view">
  <template>
    <link rel="stylesheet" href="../../../resources/css/app.css">

    <style>
    </style>

    <h1>Tic-Tac-Toe</h1>

    <div class="box-container">
      <table class="table table-bordered tic-tac-toe-grid">
        <tbody>
          <tr template repeat="{{row in cellGrid}}">
            <td template repeat="{{cell in row}}" is="cell-view" cell="{{cell}}" currentPlayer="{{currentPlayer}}" gridInterfaceEnabled="{{gridInterfaceEnabled}}" on-cell-state-change="{{processTurn}}"></td>
          </tr>
        </tbody>
      </table>

      <p id="turn">Turn: {{currentPlayer}}</p>
      <p id="game-state-message" class="label {{messageClass}}">{{gameStateMessage}}</p>

      <div style="margin-top: 10px;">
        <button class="btn btn-default" on-click="{{newGame}}">New Game</button>
      </div>
    </div>
  </template>

  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>