<polymer-element name="main-view">
  <link rel="import" href="../cell/cell_view.html">

  <template>
    <link rel="stylesheet" href="../../css/main_view.css" />

    <h1>Tic-Tac-Toe</h1>

    <div class="box-container">
      <table class="table table-bordered tic-tac-toe-grid">
        <tbody>
          <template repeat="{{row in cellGrid}}">
            <tr>
              <template repeat="{{cell in row}}">
                <td is="cell-view" cell="{{cell}}" currentPlayer="{{currentPlayer}}" gridInterfaceEnabled="{{gridInterfaceEnabled}}" on-cell-state-change="{{processTurn}}"></td>
              </template>
            </tr>
          </template>
        </tbody>
      </table>

      <p id="turn">Turn: {{currentPlayer}}</p>
      <p id="game-state-message" class="label {{messageClass}}">{{gameStateMessage}}</p>

      <div style="margin-top: 10px;">
        <button class="btn btn-default" on-click="{{newGame}}">New Game</button>
      </div>
    </div>
  </template>

  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>