.box-container {
  width: 215px;
  height: 300px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
}

.btn {
  cursor: default !important;
}

.tic-tac-toe-grid {
  -webkit-user-select: none;
}
